body {
    background-color: black;
    display: grid;
    justify-items: center;
    align-items: start;
    margin: 0%;
    padding: 0%;
}

body > * {
    margin: 0;
}

.container {
    padding: 2%;
    line-height: 45px;
    width: 60%;
    font-size: 26px;
}

#header {
    text-align: center;
}

.lime {
    color: white;
    background-color: #41cc66;
}

.white {
    background-color: white;
}